################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/SampleApplication/FileContentIndex
/.vs/SampleApplication/v17
/.vs
/SimpleCalculator/SimpleCalculator.MaUI/.vs/SimpleCalculator.MaUI/FileContentIndex
/SimpleCalculator/SimpleCalculator.MaUI/obj
/SimpleCalculator/SimpleCalculator.MaUI/.vs/SimpleCalculator.MaUI/v17
/SimpleCalculator/SimpleCalculator.MaUI/bin/Debug
/SimpleCalculator/SimpleCalculator.Wpf/.vs
/SimpleCalculator/SimpleCalculator.Wpf/obj
/SimpleCalculator/SimpleCalculator.MaUI/.vs/ProjectEvaluation
/SimpleCalculator/SimpleCalculator.Wpf/bin/Debug/net6.0-windows
/SimpleCalculator/SimpleCalculator.Core/.vs
/SimpleCalculator/SimpleCalculator.Core/obj
/SimpleCalculator/CalculateLogicTest/obj
/SimpleCalculator/SimpleCalculator.CalculateLogic/bin/Debug/net6.0
/SimpleCalculator/SimpleCalculator.CalculateLogic/obj
/SimpleCalculator/SimpleCalculator.CalculateLogic.Core/.vs
/SimpleCalculator/SimpleCalculator.CalculateLogic.Core/bin/Debug/net6.0
/SimpleCalculator/SimpleCalculator.CalculateLogic.Core/obj
/SimpleCalculator/SimpleCalculator.Core/bin/Debug/net6.0
/SimpleCalculator/Tests/CalculateLogicTest/bin/Debug/net6.0
/SimpleCalculator/Tests/CalculateLogicTest/obj
